.button{
  height: 38px;
  border-radius: 3px;
  border: none;
  margin-right: 50px;
  background-color:blueviolet;
  color:white;
}
.custom-select{
  width: 100%;
}
input{
  width: 100%;
}
.submit-button{
  color: white;
  background-color: blueviolet;
  border-radius: 5px;
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
}

